{% extends 'home.html' %}

{% block title%}
Feed
{% endblock %}

{% block content %}
  <div class="posts-cont">
      <h1>Pokies Posts!</h1>
    {% if post %}
    {% for post in post %}
    <div class="post">
      <div class="imag"  href="{{url_for('post.view_single_post', post_id=post.id)}}">
        <img class="card-img-top" src="{{post.img_url}}" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{ post.title }}</h5>
          <p class="card-text">{{post.caption}}</p>
          <small class="card-subtitle-text-muted">{{post.author.first_name}} - {{moment(post.date_created).fromNow()}}</small>
        </div>
      </div>
    </div>
   
    {% endfor %}
    {% endif %}
  </div>
{% endblock %}