{% extends 'home.html' %}

{%block title%}Login{%endblock%}

{%block content%}
    <div class="cont-login">
        <h1 style="background-image: linear-gradient(to right, red, yellow)">Edit your Frofile</h1>
        <div class="login">
            <form action="{{ url_for('auth.edit_profile') }}" method="POST">
                {{form.hidden_tag()}}
                {{form.first_name(class='form-control')}}
                {{form.last_name(class='form-control')}}
                {{form.email(class='form-control')}}
                <br><br>
                {{form.submit_btn(class="btn")}}
                <br>
            </form>
        </div>
    </div>
    <div>
      <small style="color: red">{{error}}</small>
    </div>
    <div style="color:red">
        <small>{{error}}</small>
      </div>
{%endblock%}