{% extends 'home.html' %}

{%block title%}Edit your Profile{%endblock%}

{%block content%}
<div class="cont-register">
    <h1 style="background-image: linear-gradient(to right, red, yellow);">Register Into your Account</h1>
    <div class="login">
        <form action="/logout" method="POST">
            <div class="names">
                {{form.first_name(class='form-control')}}
                {{form.last_name(class='form-control')}}
            </div>
            {{form.email(class='form-control')}}
            <br>
            {{form.update(class="btn")}}
        </form>
    </div>
</div>
<div>
  <small style="color: red">{{error}}</small>
</div>
{%endblock%}