<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="{{url_for('static', filename='images/apple-touch-icon.png')}}">
    <link rel="icon" type="image/png" sizes="32x32" href="{{url_for('static', filename='images/favicon-32x32.png')}}">
    <link rel="icon" type="image/png" sizes="16x16" href="{{url_for('static', filename='images/favicon-16x16.png')}}">
    <link rel="manifest" href="{{url_for('static', filename='images/site.webmanifest')}}">
    <title>Flask App-{%block title%}{%endblock%}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
   <div class="nav_bar">
    <nav>
        <div>
            <img src="{{ url_for('static', filename='logo.png') }}" alt="icon logo">
        </div>
        <ul>
            <li><a href="{{ url_for('pokeflex') }}">Home</a></li>
            <li><a href="{{ url_for('edit_profile') }}">About Us</a></li>
            <li><a href="{{ url_for('create_post') }}">Post</a></li>
            <button><a href="{{ url_for('logout') }}">Logout</a></button>
      </ul>
    </nav>
   </div>

    {%block content%}

    {%endblock%}
    <div style="color:red">
        <small>{{error}}</small>
    </div>

</body>
</html>